<div class="content">
    <h4 class="header">Adicionar</h4>
    <div class="content-card">
        <form>
            <table class="medico-tabela" mat-table [dataSource]="medicos">
                <div class="um">
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>Nome</th>
                        <td mat-cell *matCellDef="let medico">{{ medico.nome }}</td>
                    </ng-container>
                </div>
                <ng-container matColumnDef="especialidade">
                    <th mat-header-cell *matHeaderCellDef>Especialidade</th>
                    <td mat-cell *matCellDef="let medico">{{ medico.especialidade }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <router-outlet></router-outlet>

            <div id="botoes">
                <button mat-raised-button id="btnSelecionar" (click)="salvar(consultas)">Salvar</button>
                <button mat-raised-button id="btnSelecionar" routerLink="/consultas">Cancelar</button>
            </div>
        </form>
    </div>
</div>