<div class="content">
    <h4 class="header">Adicionar</h4>
    <div class="content-card">
        <form>
            <mat-card-content>
                <select class="MedicoSeletor" name="medico" ng-model="consultas.medico">
                    <option *ngFor="let medico of medicos">{{medico.nome}} {{medico.especialidade}}</option>
                </select>
                <mat-form-field>
                    <input matInput placeholder="Data" type="date" name="data" [(ngModel)]="consultas.data" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Valor" type="number" name="valor" [(ngModel)]="consultas.valor" />
                </mat-form-field>
            </mat-card-content>


            <router-outlet></router-outlet>

            <div id="botoes">
                <button mat-raised-button id="btnSelecionar" (click)="salvar(consultas)">Salvar</button>
                <button mat-raised-button id="btnSelecionar" routerLink="/consultas">Cancelar</button>
            </div>
        </form>
    </div>
</div>