<div class="content">
  <h4 class="header">Adicionar</h4>
  <div class="content-card">
    <form>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Nome" name="nome" [(ngModel)]="remedio.nome">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="ciclo" name="ciclo" [(ngModel)]="remedio.ciclo">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Tarja" name="tarja" [(ngModel)]="remedio.tarja">
        </mat-form-field>
      </mat-card-content>
      <button id="btnSelecionar" (click)="salvar(remedio)">Salvar</button>
    </form>
  </div>
</div>
