<div class="content">
  <h4 class="header">Adicionar</h4>
  <div class="content-card">
    <form>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Nome" name="nome" [(ngModel)]="medicos.nome" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="especialidade" name="especialidade" [(ngModel)]="medicos.especialidade" />
        </mat-form-field>
      </mat-card-content>
      <div id="botoes">
        <button mat-raised-button id="btnSelecionar"
          (click)="salvar(medicos)">Salvar</button>
        <button mat-raised-button id="btnSelecionar" routerLink="/medicos">Cancelar</button>
      </div>
    </form>
  </div>
</div>