
  .consulta-tabela {
    text-align: center;
    width: 90%;
    background-color: #373737;
    padding-top: 40px;
  }
  .mat-cell,
  .mat-header-cell {
    text-align: center;
    color: #fff;
    height: 35px;
    background-color: #6aa6dd;
    border-width: 9px;
    border-style: solid;
    border-radius: 14px;
    border-color: #373737; 
  }
  .mat-header-cell {
      height: 55px;
  }
  .btn-adc {
    background-color: #6aa6dd !important;
    color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    width: 30%;
  }
  
  .btn-ac {
    border: none;
    background-color: transparent;
    margin-right: 15px;
    font-weight: 600;
    font-size: 12px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  
  