#navbar{ 
    background-color: #1B1A1A;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    align-items: center;
    height: 100vh;
}
#logo{
    width: 250px;
    margin: 36px 91px 50px 30px;
}
.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    /*margin-bottom: 170px;*/
}
.main-navigation {
    align-items: baseline;
}
.menu-item > a{ 
    color: #CAC6C6;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center
}
.menu-item > a:hover {
    color: #92c7f7 !important;
}
.menu-item > a > .menu-item-icon{
    margin-right: 10px;
    width: 25px;
}
.menu-item{
    margin-bottom: 35px;
}
.mini-profile > a{
    color: #CAC6C6;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.mini-profile {
    display: flex;
    align-items: center;
    margin-top: 16px;
    background-color: #373737;
    padding: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#mini-profile-pic {
    margin-right: 10px;
}