<div id="navbar">
    <img id="logo" src="../assets/Logo.svg">
    <div class="main-navigation">
        <ul class="navigation">
            <li class="menu-item">
                <a routerLink="dashboard">
                    <img class="menu-item-icon" src="../../assets/dashboard.svg">
                    Dashboard
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="consultas">
                    <img class="menu-item-icon" src="../assets/consulta.svg">
                    Consultas
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="medicos">
                    <img class="menu-item-icon" src="../assets/doctor.svg">
                    Médicos
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="remedios">
                    <img class="menu-item-icon" src="../assets/remedio.svg">
                    Remédios
                </a>
            </li>
           
            <li class="menu-item" style="margin-top: 20vh;">
                
                <div class="mini-profile">
                    <a href="#"><img id="mini-profile-pic" src="../assets/Perfil.png" style="height: 60px;"></a>
                    <a > Guilherme Schmidt</a>
                </div>
            </li>
        </ul>
    </div>

</div>