.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content-card {
  border-radius: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: darkgrey;
}

*::-webkit-scrollbar {
  width: thin;
}

.remedios {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 30px 0 30px;
}
.remedio-head {
  margin-top: 30px;
}
.remedio-container {
  background-color: #6aa6dd;
  border-radius: 30px;
  white-space: nowrap;
}
.remedio-tabela {
  text-align: center;
  width: 58vw;
  background-color: transparent;
  overflow: scroll;
}
.mat-cell,
.mat-header-cell {
  text-align: center;
  color: #fff;
  height: 35px;
  background-color: #6aa6dd;
  border-width: 9px;
  border-style: solid;
  border-radius: 14px;
  border-color: #1B1A1A;;  
}
.mat-header-cell {
    height: 55px;
}
.btn-adc {
  background-color: #6aa6dd !important;
  color: #fff;
  border-radius: 5px;
  margin-top: 40px;
  width: 30%;
}

.mat-header-cell{
  font-size: 15px;
  font-weight: 600;
}

.btn-ac {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
}

.botoes {
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
}

a {
  text-decoration: none;
  color: #fff;
}
