.remedios {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 30px 0 30px;
}
.remedio-head {
  margin-top: 30px;
}
.remedio-container {
  background-color: #6aa6dd;
  border-radius: 30px;
  white-space: nowrap;
}
.remedio-tabela {
  text-align: center;
  width: 90%;
  background-color: #373737;
  padding-top: 40px;
}
.mat-cell,
.mat-header-cell {
  text-align: center;
  color: #fff;
  height: 35px;
  background-color: #6aa6dd;
  border-width: 9px;
  border-style: solid;
  border-radius: 14px;
  border-color: #373737; 
}
.mat-header-cell {
    height: 55px;
}
.btn-adc {
  background-color: #6aa6dd !important;
  width: 14% !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
}
a {
  text-decoration: none;
  color: #fff;
}
