<div class="content">
    <h4 class="header">Editar</h4>
    <div class="content-card">
      <form>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Nome" name="nome" [(ngModel)]="consultas.medico" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Dia" name="data" [(ngModel)]="consultas.data" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Horário" name="time" [(ngModel)]="consultas.time" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Valor" name="valor" [(ngModel)]="consultas.valor" />
          </mat-form-field>
        </mat-card-content>
  
        <div id="botoes">
          <button mat-raised-button id="btnSelecionar" (click)="atualizar(consultas)">Salvar</button>
          <button mat-raised-button id="btnSelecionar" routerLink="/consultas">Cancelar</button>
        </div>
      </form>
    </div>
  </div>