.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content-card {
  border-radius: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: darkgrey;
}

*::-webkit-scrollbar {
  width: thin;
}

.mat-header-cell{
  font-size: 15px;
  font-weight: 600;
}
  .medico-tabela {
    text-align: center;
    width: 58vw;
    background-color: transparent;
    overflow: scroll;
  }
  .mat-cell,
  .mat-header-cell {
    text-align: center;
    color: #fff;
    height: 35px;
  }
  .mat-header-cell {
      height: 55px;
      border-bottom: solid  4px #6aa6dd;
  }
  .mat-cell{
    border-bottom: solid 2px;
    border-bottom-color: #454545;
  }
  th.mat-header-cell:first-of-type{
    padding-left: 0;
  }
  button.btn-excluir{
    background-color: #ba0719 !important;
    padding: 5px;
  }
  button.btn-editar{
    background-color: #10b03b !important; 
    margin-right: 5px;   
    padding: 5px
  }
  .btn-adc {
    background-color: #6aa6dd !important;
    color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    width: 30%;
  }
  
  .btn-ac {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
  }

  .botoes {
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
  
  